<div class="container-cadastro">
  <div class="row">
    <h3>Cadastrar-se</h3>
  </div>
  <div class="container-md box-cadastro">
    <form action="/cadastro" method="POST">
      <input
        type="text"
        name="nome"
        id="nameUser"
        placeholder="  Nome Completo"
      />
      <input
        type="datetime"
        name="data"
        id="dateUser"
        placeholder="  Data de Nascimento"
      />
      <input type="email" name="email" id="emailUser" placeholder="  E-mail" />
      <input
        type="number"
        name="phone"
        id="phoneUser"
        placeholder="  Número de Telefone"
      />
      <input
        type="password"
        name="password"
        id="senhaUser"
        placeholder="  Crie uma senha de 8 dígitos"
      />
      <input
        type="password"
        name="confirmPassword"
        id="senhaUser"
        placeholder="  Confirme a senha"
      />
      <input type="submit" value="CONTINUAR" id="cadastrobtn" />
    </form>
    <div class="detalhes">
      <div class="linha-1"></div>
    </div>
    <div class="cadastro">
      <p>Tem uma conta ?</p>
      <a href="/login">Entre</a>
    </div>
  </div>
</div>
