body{
    background-color: #E9ECEF;
}
.inicial{
    margin-top: 110px;
    position: relative;
}
.primeira-navbar{
    background-color: #D9D9D9;
}
h1{
    text-align: center;
    font-family: "Kaushan Script", cursive;
}
a{
    font-family: "Actor", sans-serif;
}
#search{
    min-width: 280px;
    height: 40px;
    border: none;
    position: relative;
    left: 40px;
    border-radius: 0;
}
#search-btn{
    background-color: white;
    position: relative;
    border: none;
    margin-right: 1px;
}
#search-btn button{
    display: none;
    border: none;
}
.icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position:relative;
    cursor: pointer;
}
.icon-2{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position:relative;
    cursor: pointer;
    margin-left: 5px; 
}
#img-main{
    width: 120%;
    height: 100%;
}
#content-main img{
    justify-content: center;
}
.tit-oferta{
    font-family: "Allura", cursive;
    font-size: 30px;
}
.oferta-1, .oferta-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px 20px;
    width: 70%;
    height: 20%;
}
.oferta-1{
    position: relative;
    top: 20%;
    left: 200px;
    text-align: center;
}
.oferta-2{
    position:relative;
    top: 60%;
    font-family: "Caladea", serif;
    font-size: 20px;
    text-indent: 20px;
}
.conteudo-oferta{
    display: flex;
    flex-direction: column;
}
.espaco{
    font-style: italic;
}
.comprar{
    margin-bottom: 8px;
    width: 50%;
    height: 30px;
    border: none;
    background-color: #FFFF;
}
.comprar:hover{
    border:solid #ffff;
    background-color: #d9d9d9;
}
#select{
    width: 20px;
    height: 20px;
}
.titulo{
    text-align: center;
    font-family: "Caladea", serif;
    margin-top: 30px;
}
.barra-fixa{
    position: fixed;
    top: 0; /* Define a posição do menu no topo da janela */
    left: 0; /* Define a posição do menu no lado esquerdo da janela */
    width: 100%;
    z-index: 1000;
}

/* Esconder elementos quando a tela é minimizada */
@media only screen and (max-width: 994px) {
    .oferta-1,
    .oferta-2,
    #content-main,
    .lobinho {
        display: none;
    }
    .primeira-navbar, .segunda-navbar{
        min-width: 570px;
    }
}
.segunda-navbar{
    display: block;
}
.container-menu{
    display:flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    top:0;
    
}
.pai-roupas{
    display: flex;
    
}
.card-body-site{
    height: 120px;
    background-color: none;
    margin-left: 15px;
}
.card-desc{
    height: 400px;
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    margin-bottom: 15px;  
}
.conteudo-oferta{
    text-align: center;
}
#menu li{
    color:black;
}
#menu ul li:hover{
    color: #b11616;
}